In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from copy import deepcopy, copy

In [2]:
titles = pd.read_csv('../../data/titles.csv')
titles['release date on Netflix'] = pd.to_datetime(titles['release date on Netflix'])

movies = titles[titles['duration'].notna()]
shows = titles[titles['number of seasons'].notna()]

In [3]:
movies_age_rating_release = movies[['age rating', 'release date on Netflix']]
shows_age_rating_release = shows[['age rating', 'release date on Netflix']]
# titles_age_rating_release

In [4]:
shows

,id,title,description,imdb,metacritic,duration,number of seasons,audio,family friendly,age rating,release date on Netflix,year,actors,directors,countries,genres,alternate genres
9,9,Sugar Rush,Time's the most important ingredient as teams ...,NaN,NaN,NaN,2.0,English,True,7+,2018-07-13,2018,"49171,83133,86956",NaN,"50,2,37,73,27,24,84,42,35,59,36,4,48,93,46,76,...",942,"628,517,65,313,16"
14,14,Close Your Eyes Before It’s Dark,"While vacationing at a mountain cabin, a group...",NaN,NaN,NaN,1.0,Mandarin,False,13+,2017-08-01,2016,"98240,67833,42896,82746,70902,98687,14822,9614...",NaN,"50,37,73,27,84,42,35,59,4,48,93,76,88,45,70,96...","567,740","760,814,17,1049"
17,17,Treehouse Detectives,"When their animal friends need help, brother-a...",NaN,NaN,NaN,2.0,English,True,3+,2018-06-08,2018,"67346,4755,4983,28208,17573,52829",NaN,"50,2,37,73,27,24,84,42,35,59,36,4,48,93,46,76,...","860,406","826,397,102,65"
35,35,Jinn,"On a field trip to Petra, two jinns one good, ...",NaN,NaN,NaN,1.0,Arabic,False,16+,2019-06-13,2019,"38318,6382,16774,87798,9013,62152,25287,93434,...",NaN,"50,2,37,73,27,24,84,42,35,59,36,4,48,93,46,76,...","740,353","197,602,317,814,345,1049"
50,50,Life Unexpected,"After years in foster care, teenager Lux track...",NaN,NaN,NaN,2.0,English,True,10+,2015-04-14,2010,"6353,39246,37482,90082,95319,3073,29410",NaN,NaN,740,"814,17,340"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25816,25816,Sintonia,Three teens living in the same Sao Paulo favel...,NaN,NaN,NaN,1.0,Brazilian Portuguese,False,16+,2019-08-09,2019,"95040,62480,12398,48558,84729",NaN,"50,2,37,73,27,24,84,42,35,59,36,4,48,93,46,76,...","567,740","437,993,1067,814"
25833,25833,Ever Night (Jiang ye),"As the lone survivor of his kingdom, Ning Que ...",NaN,NaN,NaN,1.0,Mandarin,False,16+,2021-01-16,2018,"44384,44175,28412,23231",NaN,30,432,"1024,972,655,814"
25834,25834,Marvel’s Daredevil,"Blinded as a young boy, Matt Murdock fights in...",NaN,71.0,NaN,3.0,English,False,16+,2015-04-14,2018,"41733,5677,58848,29004,27923,39250,51595,76590...",NaN,"50,2,37,73,27,24,84,42,35,59,36,4,48,93,46,76,...","432,567","499,1078,17,340"
25838,25838,Gold Stars: The Story of the FIFA World Cup To...,A collection of archival footage celebrates th...,NaN,NaN,NaN,1.0,English,False,13+,2018-04-02,2017,NaN,NaN,NaN,"68,879","97,921,908,493,1051,259,74,286,17"
25842,25842,Lie to Me,A spunky Ministry of Culture official gets cau...,NaN,NaN,NaN,1.0,Korean,False,13+,2018-10-15,2011,"57498,3486,53516,62709,5033,12843,75181,1126,3...",NaN,NaN,"951,740,381","994,192,814,65"

In [70]:
# age_rating_stats = pd.DataFrame(columns=['age_rating', 'year', 'percentage'])

stats_serieses = []
for category_name, category_frame in [('movies', movies_age_rating_release), ('shows', shows_age_rating_release)]:
    for stat_year in range(2015, 2022):
        titles_up_to_year = category_frame[category_frame['release date on Netflix'].dt.year <= stat_year]
        age_rating_percentage_up_to_year = titles_up_to_year.groupby('age rating').count() / titles_up_to_year.count()
        age_rating_percentage_up_to_year['year'] = stat_year
        age_rating_percentage_up_to_year.columns = ['', 'percentage', 'year']
        age_rating_percentage_up_to_year = age_rating_percentage_up_to_year[['year', 'percentage']]
        age_rating_percentage_up_to_year.reset_index()
        age_rating_percentage_up_to_year = age_rating_percentage_up_to_year[age_rating_percentage_up_to_year.percentage > 0.01]
        age_rating_percentage_up_to_year['category'] = category_name
        stats_serieses.append(age_rating_percentage_up_to_year)
    
age_rating_per_year_distribution = pd.concat(stats_serieses, axis=0)
age_rating_per_year_distribution
age_rating_per_year_distribution.to_csv('age_rating_per_year_distribution.csv')

# Density of releases

In [71]:
titles_release_month = titles[['title', 'release date on Netflix']]

titles_release_month['release date on Netflix'] = titles_release_month['release date on Netflix']\
    .map(lambda date: date.replace(day=1))

titles_release_month

<ipython-input-71-183db63ee5af>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titles_release_month['release date on Netflix'] = titles_release_month['release date on Netflix']\

,title,release date on Netflix
0,Rebirth of Mothra II (Mosura 2: Kaitei no daik...,2020-09-01
1,Our Lovers,2017-04-01
2,Aaviri,2019-12-01
3,14 Days (14 Ngày Phép),2020-06-01
4,The Bride,2018-08-01
...,...,...
25848,What Keeps You Alive,2019-01-01
25849,Elizabeth,2016-04-01
25850,Meu Passado Me Condena,2016-05-01
25851,Our Last Tango,2016-08-01
25852,Meet the Parents,2015-04-01

In [120]:
releases_per_month = titles_release_month.groupby('release date on Netflix').count()
releases_per_month = releases_per_month.reset_index()
releases_per_month.columns = [['release month', 'count']]

release_dates = releases_per_month['release month']
min_date = release_dates.min()[0]
max_date = release_dates.max()[0]

current_date = min_date

# missing_dates = pd.DataFrame(columns=['release month', 'count'])

missing_dates = []
while current_date < max_date:
    
    is_in = (release_dates == current_date).any().bool()
#     print(current_date, is_in)
    if not is_in:
        missing_dates.append(copy(current_date))
    current_date += pd.DateOffset(months=1)
    
missing_dates_df = pd.DataFrame([[date, 0] for date in missing_dates], columns=[('release month',), ('count',)])
releases_per_month = pd.concat([releases_per_month, missing_dates_df])

releases_per_month.to_csv('release_density_per_month.csv', date_format='%m-%d-%Y')

# Exploratory movie data

In [134]:
exploratory_titles = titles[['title', 'duration', 'number of seasons', 'release date on Netflix', 'year', 'imdb', 'countries', 'genres', 'metacritic', 'family friendly', 'audio']]
# exploratory_titles = exploratory_titles[exploratory_titles['imdb'].notna()]
exploratory_titles = exploratory_titles.sort_values(by='release date on Netflix')
# exploratory_titles

exploratory_titles.to_csv('exploratory_data.csv', date_format='%m-%d-%Y')